atomicwrites==1.4.0
attrs==20.3.0
bcrypt==3.2.0
certifi
cffi==1.14.5
chardet==4.0.0
click==7.1.2
colorama==0.4.4
coverage==5.5
dnspython
ecdsa
email-validator
fastapi==0.100.0
h11
idna
iniconfig==1.1.1
Jinja2==2.11.3
MarkupSafe==1.1.1
packaging==20.9
passlib==1.7.4
pluggy==0.13.1
py
pyasn1
pycparser==2.20
pydantic
pyparsing==2.4.7
pytest
pytest-cov==2.11.1
python-dotenv==1.2.2
python-jose==3.5.0
python-multipart
requests
rsa==4.7.2
six
SQLAlchemy==2.0.49
toml==0.10.2
typing-extensions
urllib3
uvicorn==0.22.0
psycopg2==2.9.11
fastapi==0.100.0
alembic==1.18.4
python-jose[cryptography]
cryptography
six